.product-list {
    list-style-type: none;
    .product-item {
        a {
            display: flex;
            padding: 20px 0;
            text-decoration: none;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $ml-lighter-gray;
        }
        .item {
            display: flex;
            font-size: 12px;
            &.info {
                color: $ml-dark-gray;
                flex: 5;
                flex-direction: column;
                .info-price {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                .info-content {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
            &.image {
                margin-right: 15px;
            }
            &.location {
                flex: 2;
                @include flex-center;
                span {
                    color: $ml-medium-gray;
                }
            }
        }
    }
}